{% extends "study/base.html" %}
 
{% block title %}Create New Card{% endblock %}

{% block content %}
    <div class="outerForm">
    {% if sent %}
        <h2>Successfully Made A New Card</h2>
    {% else %}
        <h2>Making New Card In {{ set.name }} Set</h2>
        <form action="{% url "study:make_card" set.id %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Submit">
        </form>
    {% endif %}
    </div>
{% endblock %}