* {
    padding: 0;
    margin: 0;
}

#content { 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:40%;
    padding:0 0 0 30px; 
}

.card {
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-style: solid;
    margin: 30px;
    padding: 20px;
}

